.card {
  width: 100%;

  display: grid;
  grid-template-columns: minmax(40rem, 60rem) minmax(30rem, 50rem);

  @media only screen and (max-width: 56.25em) {
    grid-template-columns: min-content;
    grid-template-rows: min-content;
  }

  &__text {
    background-image: url(../images/bg-pattern-desktop.svg);
    // background-position: center;
    background-repeat: round;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5rem 10rem;

    display: grid;
    grid-template-columns: minmax(50%, 1fr);
    grid-template-rows: min-content 1fr repeat(3, min-content) 1fr;
    grid-gap: 2rem;

    @media only screen and (max-width: 56.25em) {
      grid-template-rows: min-content;
      grid-gap: 2rem;
      padding: .5rem;
    }

  }

  &__img {
    background-image: url(../images/hero-desktop.jpg);
    width: 100%;
    // width: auto;
    // height: 100%;
    display: block;
    background-size: contain;
    // background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;    

    @media only screen and (max-width: 56.25em) {
      display: none;
    }
  }


}

